@-webkit-keyframes slide-a {
  0% {
    left: 0;
  }
  33% {
    left: -30%;
  }
  66% {
    left: -65%;
  }
  100% {
    left: 0;
  }
}

@keyframes slide-a {
  0% {
    left: 0;
  }
  33% {
    left: -30%;
  }
  66% {
    left: -65%;
  }
  100% {
    left: 0;
  }
}

#mob {
  background-color: var(--color-d);
}

#txt-box {
  color: var(--color-f);
  text-align: center;
}

#start a {
  margin: 30px auto;
  width: 50%;
  height: 50px;
  border: 2px dashed var(--color-f);
  display: block;
  background-color: none;
  border-radius: 30px;
  text-align: center;
}

#start a h1 {
  letter-spacing: 3px;
  color: var(--color-f);
}
