#style-box {
  width: 100%;
  height: 200px;
  background-color: var(--color-c);
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
}

#style-box > div {
  width: 100%;
  height: 50%;
  -webkit-transform: translateY(70%);
          transform: translateY(70%);
  background-color: var(--color-d);
}

#profile-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#profile-box > #img-box {
  width: 100px;
  height: 100px;
  background-color: var(--color-f);
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

#profile-box > #img-box > #change-img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: var(--color-e);
  text-align: center;
  color: var(--color-f);
}

#profile-box > #txt-box {
  margin: 0 10px;
  color: var(--color-f);
}

#list-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 20px 0;
}

#list-box a #icon-box {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  background-color: var(--color-b);
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: var(--color-d);
}

h1 {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 10px auto;
}

#pro-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: 200px;
  margin: 10px 0;
  background-color: var(--color-a);
}

#pro-box > #img-box {
  width: 400px;
  height: 180px;
  background-color: var(--color-d);
  margin: 10px 10px;
}

#pro-box > #txt-box {
  margin: 0 10px;
}

#pro-box > #txt-box p {
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#pro-box > #txt-box > #top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#pro-box > #txt-box > #bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#pro-box > #txt-box > #bot p {
  width: 80%;
  height: 100px;
  line-height: 20px;
}

#file-box {
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.3);
  position: absolute;
  top: 0;
  left: 0;
}

#file-box #box {
  width: 50%;
  height: 50%;
  background-color: var(--color-f);
  margin: 10% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#file-box #box input {
  visibility: hidden;
}

#file-box #box #img-box {
  width: 80%;
  height: 50%;
  border-radius: 10px;
  border: 1px solid var(--color-d);
}

#file-box #box > label {
  border: 1px solid;
  border-radius: 10px;
  padding: 2% 5%;
  cursor: pointer;
  color: var(--color-f);
  background-color: var(--color-c);
}

#file-box #box div {
  width: 40%;
  text-align: center;
}

#file-box #box div button {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5% 20%;
  border: none;
  border-radius: 10px;
  background-color: var(--color-b);
}
