h1 {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 20px auto;
}

#filter-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: var(--color-a);
  padding: 10px;
}

#filter-box > a {
  display: block;
  background-color: var(--color-d);
  color: var(--color-f);
  padding: 10px;
}

#list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#list-box > #list {
  width: 48%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 10px auto;
}

#list-box > #list > #img-box {
  width: 95%;
  height: 150px;
  margin: 0 auto;
  background-image: url("/img/1347f9ea6ade20c5c6fb2d22fff3d6f5.jpg");
}

#list-box > #list > #txt-box {
  width: 95%;
  height: 50px;
  margin: 0 auto;
  line-height: 20px;
}

#btn {
  width: 20%;
  height: 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#btn > a {
  display: block;
  width: 20px;
  height: 20px;
  background-color: var(--color-c);
  border-radius: 50%;
}

#who-feed > #av-box > #img-box {
  width: 100%;
  height: 200px;
  background-color: var(--color-c);
}

#who-feed > #av-box > #txt-box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#who-feed > #av-box > #txt-box div h6 {
  width: 80px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#comment-box #comment {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 5px auto;
  border-top: 1px solid var(--color-e);
  border-bottom: 1px solid var(--color-e);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#comment-box #comment > #img-box {
  width: 40px;
  height: 40px;
  background-color: var(--color-d);
  margin: 10px 0;
  border-radius: 10px;
}

#comment-box #comment > #txt-box {
  width: 85%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#comment-box #comment > #txt-box p {
  line-height: 20px;
}

#chatting-box {
  position: fixed;
  bottom: 0;
  background-color: var(--color-c);
  width: 100% !important;
}

#chatting-box input {
  width: 80%;
  height: 60px;
  padding: 0 20px;
  background-color: var(--color-c);
  color: var(--color-f);
  border: none;
}

#chatting-box i {
  color: var(--color-f);
  margin: 10px 0;
}
