#mob > h1 {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 20px auto;
}

#img-box {
  height: 200px !important;
  background-color: var(--color-b);
  background-image: url("/img/golf-gb92b3fc81_640.jpg");
  background-size: contain;
  position: relative;
}

#img-box #img {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 200px;
  background-color: var(--color-c);
  background-image: url("/img/1da4a98f778f28f75ae20cae6694223a.jpg");
  background-size: cover;
}

#text-box h6 {
  width: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#time-box #txt-box {
  width: 40%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
