@mixin wid-hei($wid,$hei) {
  width: $wid;
  height: $hei;
}
@mixin flex($justify,$align,$direction,$wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}
@mixin margin($t-b, $l-r) {
  margin: $t-b $l-r;
}

@keyframes slide-a {
  0%{
    left: 0;
  }
  33%{
    left: -30%;
  }
  66%{
    left: -65%;
  }
  100%{
    left: 0;
  }
}

#mob{
  background-color: var(--color-d);
}

// 텍스트
#txt-box{
  color: var(--color-f);
  text-align: center;
}

#slide-box{

  div{
    border-radius: 50%;
  }
  >#slide{
    @include wid-hei(250px, 250px); 
    @include margin(10px, auto);
    background-color: var(--color-a);
    position: relative;
    overflow: hidden;
    
    >#slide-bar{
      @include flex(space-between, center, row, nowrap);
      @include wid-hei(300%, fit-content);
      animation: 5s slide-a infinite;

      >#item{
        position: relative;
        @include wid-hei(500px, 500px);
        animation: slide-a 7s ease-in-out infinite;
        top: 0;
        text-align: center;
        >i{
          color: var(--color-f);
          line-height: 250px;
        }
      }
    }
  }
}

#start{  
  a{
    @include margin(30px, auto);
    @include wid-hei(50%, 50px);
    border: 2px dashed var(--color-f);
    display: block;
    background-color: none;
    border-radius: 30px;
    text-align: center;
    
    h1{
      letter-spacing: 3px;
      color: var(--color-f);
    }
  }
}