@mixin wid-hei($wid,$hei) {
  width: $wid;
  height: $hei;
}
@mixin flex($justify,$align,$direction,$wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}
@mixin margin($t-b, $l-r) {
  margin: $t-b $l-r;
}

@keyframes slide-a {
  0%{
    left: 0;
  }
  33%{
    left: -30%;
  }
  66%{
    left: -65%;
  }
  100%{
    left: 0;
  }
}

#mob{
  background-color: var(--color-d);
}

// 텍스트
#txt-box{
  color: var(--color-f);
  text-align: center;
}


#start{  
  a{
    @include margin(30px, auto);
    @include wid-hei(50%, 50px);
    border: 2px dashed var(--color-f);
    display: block;
    background-color: none;
    border-radius: 30px;
    text-align: center;
    
    h1{
      letter-spacing: 3px;
      color: var(--color-f);
    }
  }
}