@mixin wid-hei($wid,$hei) {
  width: $wid;
  height: $hei;
}
@mixin flex($justify,$align,$direction,$wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}
@mixin margin($t-b, $l-r) {
  margin: $t-b $l-r;
}

#logo-box{
  >i{
    width: 20px;
    text-align: center;
    color: var(--color-d);
  }
  h1{
    display: inline-block;
  }
}

#login-box{
  >input{
    padding: 10px;
    @include wid-hei(100%, 30px);
    font-size: 14px;
  }
  >a{
    >h1{
      @include wid-hei(100%, 50px);
      @include margin(10px, auto);
      text-align: center;
      border-radius: 30px;
      background-color: var(--color-c);
      color: var(--color-f);
    }
  }
  #a-box{
    @include wid-hei(100%, fit-content);
    @include flex(center, center, row, nowrap);

    a{
      @include wid-hei(50%, fit-content);
      display: block;
      text-align: center;
      width: 50%;
    }
  }
}


#simple-login{
  #b-box{
    @include wid-hei(80%, fit-content);
    @include margin(10px, auto);
    @include flex(space-between, center, row, nowrap);
    text-align: center;

    a{
      @include wid-hei(40px, 40px);
      border-radius: 50%;
      background-color: var(--color-a);
    }
  }
}