
@mixin wid-hei($wid,$hei) {
  width: $wid;
  height: $hei;
}
@mixin flex($justify,$align,$direction,$wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}
@mixin margin($t-b, $l-r) {
  margin: $t-b $l-r;
}

@keyframes txt-box-a {
  0%{
    opacity: 1;
  }
  33%{
    opacity: 0;
  }
  66%{
    opacity: 0;
  }
  100%{
    opacity: 0.7;
  }
}
@keyframes txt-box-b {
  0%{
    opacity: 0.1;
  }
  33%{
    opacity: 1;
  }
  66%{
    opacity: 0.1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes txt-box-c {
  0%{
    opacity: 0;
  }
  33%{
    opacity: 0.1;
  }
  66%{
    opacity: 1;
  }
  100%{
    opacity: 0.1;
  }
}

h1{
  @include wid-hei(90%, fit-content);
  @include margin(20px, auto);
}

// 슬라이드 텍스트

#slide-txt{
  @include wid-hei(90%, 100px);
  @include margin(0, auto);

  #txt-box{
    position: relative;
    #item{
      position: absolute;
      text-align: center;
    }
    #item:nth-child(1){
      animation: txt-box-a 7s infinite;
    }
    #item:nth-child(2){
      animation: txt-box-b 7s infinite;
    }
    #item:nth-child(3){
      animation: txt-box-c 7s infinite;
    }
  }
}

// 예약

#btn-box{
  @include flex(space-between, center, row, nowrap);
  >a{
    display: block;
    @include wid-hei(48%, 40px);
    background-color: var(--color-c);
    color: var(--color-f);
    text-align: center;
    border-radius: 30px;

  }
}

// 이벤트 

#event-box{
  padding: 10px;
  color: var(--color-f);
  background-image: url('/img/feild.jpg');
  background-size: cover;

  >h1{
    @include wid-hei(100%, fit-content);
    @include margin(0, auto);
  }

  >#item-box{
    border: 5px solid var(--color-f);
    @include margin(10px, 0);
    padding: 10px;
    position: relative;

    >#title{
      @include flex(flex-start, flex-start, row, nowrap);
      h6{
        margin-left: 10px;
      }
    }
    >#prive{
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px 3%;
      background-color: var(--color-f);
      color: var(--color-e);
    }
  }
}