@mixin wid-hei($wid,$hei) {
  width: $wid;
  height: $hei;
}
@mixin flex($justify,$align,$direction,$wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}
@mixin margin($t-b, $l-r) {
  margin: $t-b $l-r;
}

h1{
  @include wid-hei(90%, fit-content);
  @include margin(20px, auto);
}

textarea{
  @include wid-hei(100%, fit-content);
  padding: 10px;
  resize: none;
  background-color: var(--color-a);
  border: none;
}

// 신청자
#info{
  @include flex(space-between, flex-start, row, nowrap);

  #title{
    @include wid-hei(70%, fit-content);
    
    input{
      @include wid-hei(100%, 40px);
      padding: 10px;
      background-color: var(--color-a);
      border: none;
      text-align: center
    }
  }
}

// 상담내용
#content{
  @include flex(space-between, flex-start, row, nowrap);  

  textarea{
    @include wid-hei(70%, fit-content);
  }
}


// 개인정보 동의
#agree{
  @include flex(space-between, flex-start, row, nowrap);

  >#a-box{
    @include wid-hei(70%, fit-content);
    @include flex(flex-start, flex-start, row, nowrap);

    input{
      @include wid-hei(20px, 20px);
      @include margin(10px, 10px);
    }
  }
}


// 자리 예약
#b-box{
  @include flex(space-between, center, row, nowrap);

  >div{
    @include wid-hei(30%, fit-content);

    input{
      @include wid-hei(100%, 40px);
      @include margin(10px, 0);
      padding: 10px;
      background-color: var(--color-a);
      border: none;
    }
  }
}

#sit-box{
  @include flex(space-between, flex-start, row, wrap);

  button{
    @include wid-hei(22%, 50px);
    @include margin(10px, auto);
    border: none;
    background-color: var(--color-c);
    border-radius: 10px;
    color: var(--color-f);
  }
}

// 특별요청
#request{
  h1{
    margin: 0;
  }

  
}