@mixin wid-hei($wid,$hei) {
  width: $wid;
  height: $hei;
}
@mixin flex($justify,$align,$direction,$wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}
@mixin margin($t-b, $l-r) {
  margin: $t-b $l-r;
}

#style-box{
  @include wid-hei(100%, 200px);
  background-color: var(--color-c);
  z-index: -10;

  position: absolute;
  top: 0;
  left: 0;

  >div{
    @include wid-hei(100%, 50%);
    transform: translateY(70%);
    background-color: var(--color-d);
  }
}

// 프로필
#profile-box{
  @include flex(flex-start, flex-end, row, nowrap);

  >#img-box{
    @include wid-hei(100px, 100px);
    background-color: var(--color-f);
    border-radius: 30px;
  }

  >#txt-box{
    @include margin(0, 10px);
    color: var(--color-f)
  }
}

// 목록
#list-box{

  a{
    @include flex(flex-start, flex-end, row, nowrap);
    @include margin(20px, 0);

    #icon-box{
      @include wid-hei(40px, 40px);
      @include margin(0, 10px);
      background-color: var(--color-b);
      border-radius: 50%;

      text-align: center;
      line-height: 40px;
      color: var(--color-d);
    }
  }
}

h1{
  @include wid-hei(90%, fit-content);
  @include margin(10px, auto);
}

// 프로님 프로필
#pro-box{
  @include flex(space-around, center, row, nowrap);
  @include margin(10px, 0);
  background-color: var(--color-a);

  >#img-box{
    @include wid-hei(100%, 140px);
    background-color: var(--color-d);
    @include margin(10px, 10px);
  }
  
  >#txt-box{
    @include margin(0, 10px);

    p{
      @include wid-hei(80%,fit-content);
      border: 1px solid;
    }

    >#top{
      @include flex(space-between, flex-start, row, nowrap);
    }

    >#bot{
      @include flex(space-between, flex-start, row, nowrap);

      p{
      @include wid-hei(80%,100px);
      overflow: scroll;
      line-height: 20px;
      }
    }
  }
}
