@mixin wid-hei($wid,$hei) {
  width: $wid;
  height: $hei;
}
@mixin flex($justify,$align,$direction,$wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}
@mixin margin($t-b, $l-r) {
  margin: $t-b $l-r;
}

h1{
  @include wid-hei(90%, fit-content);
  @include margin(20px, auto);
}

#filter-box{
  @include flex(space-between, center, row, wrap);
  background-color: var(--color-a);
  padding: 10px;

  >a{
    display: block;
    background-color: var(--color-d);
    color: var(--color-f);
    padding: 10px;
  }
}

#list-box{
  @include flex(space-between, inherit, inherit, wrap);

  >#list{
    @include wid-hei(48%, fit-content);
    @include margin(10px, auto);

    >#img-box{
      @include wid-hei(95%, 150px);
      @include margin(0, auto);
      background-image: url('/img/1347f9ea6ade20c5c6fb2d22fff3d6f5.jpg')
    }

    >#txt-box{
      @include wid-hei(95%, 50px);
      @include margin(0, auto);
      line-height: 20px;
    }
  }
}

#btn{
  @include wid-hei(20%, 20px);
  @include margin(0, auto);
  @include flex(space-between, center , row, nowrap );
  >a{
    display: block;
    @include wid-hei(20px, 20px);
    background-color: var(--color-c);
    border-radius: 50%;
  }
}

#who-feed{

  >#av-box{

    >#img-box{
      @include wid-hei(100%, 200px);
      background-color: var(--color-c);
    }
    
    >#txt-box{
      
      div{
        @include flex(flex-start, center, row, nowrap);
        
        h6{
          @include wid-hei(80px, fit-content);
        }
      }
    }
  }
}

// 댓글
#comment-box{

  #comment{
    @include wid-hei(100%, fit-content);
    @include margin(5px, auto);
    border-top: 1px solid var(--color-e);
    border-bottom: 1px solid var(--color-e);
    @include flex(space-between, flex-start, row, nowrap);

    >#img-box{
      @include wid-hei(40px, 40px);
      background-color: var(--color-d);
      @include margin(10px, 0);
      border-radius: 10px;
    }

    >#txt-box{
      @include wid-hei(85%,fit-content );

      p{
        line-height: 20px;
      }
    }
  }
}

//채팅
#chatting-box{
  position: fixed;
  bottom: 0;
  background-color: var(--color-c);
  width: 100% !important;

  input{
    @include wid-hei(80%, 60px);
    padding: 0 20px;
    background-color: var(--color-c);
    color: var(--color-f);
    border: none;
  }
  i{
    color: var(--color-f);
    margin: 10px 0;
  }

}