@mixin wid-hei($wid,$hei) {
  width: $wid;
  height: $hei;
}
@mixin flex($justify,$align,$direction,$wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}
@mixin margin($t-b, $l-r) {
  margin: $t-b $l-r;
}

#search{
  @include flex(space-between, center, row, nowrap);
  background-color: var(--color-b);
  border-radius: 10px;

  >input{
    @include wid-hei(90%, 50px);
    @include margin(0, 10px);
    padding: 10px;
    background-color: var(--color-b);
    border: none;
  }

  button{
    background-color: inherit;
    border: none;

    i{
      @include margin(0, 10px);
      color: var(--color-f);
    }
  }
}

#explan-box{
  @include flex(space-around, center, row, nowrap);
  border-bottom: 1px solid var(--color-e);

  >#explan{
    @include wid-hei(fit-content, 50px);
    text-align: center;

    >h4:hover{
      border-bottom: 5px solid var(--color-d);
    }
  }
}

#cate-box{
  @include flex(space-between, center, row, wrap);

  a{
    background-color: var(--color-b);
    padding: 10px;
    border-radius: 10px;
  }
}

#item-box{

  >#item{
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid var(--color-e);
    @include flex(space-between, center, row,nowrap);

    >#txt-box{
      @include wid-hei(90%, fit-content);

      h4{
        line-height: 30px;
      }
    }

    i{
      color: var(--color-d);
    }
  }
}

#btn{
  @include wid-hei(20%, 20px);
  @include margin(0, auto);
  @include flex(space-between, center , row, nowrap );
  >a{
    display: block;
    @include wid-hei(20px, 20px);
    background-color: var(--color-c);
    border-radius: 50%;
  }
}