@mixin wid-hei($wid,$hei) {
  width: $wid;
  height: $hei;
}
@mixin flex($justify,$align,$direction,$wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}
@mixin margin($t-b, $l-r) {
  margin: $t-b $l-r;
}

#mob>h1{
  @include wid-hei(90%, fit-content);
  @include margin(20px, auto);
}

#img-box{
  height: 200px !important;
  background-color: var(--color-b);
  background-image: url('/img/golf-gb92b3fc81_640.jpg');
  background-size: contain;
  position: relative;
  
  #img{
    position: absolute;
    top: 0;
    right: 0;
    @include wid-hei(20%, 200px);
    background-color: var(--color-c);
    background-image: url('/img/1da4a98f778f28f75ae20cae6694223a.jpg');
    background-size: cover;
  }
}

#text-box{

  h6{
    @include wid-hei(60%, fit-content);
  }
}

#time-box{
  #txt-box{
    @include wid-hei(40%, fit-content);
    text-align: center;
    @include flex(space-between, center, row, nowrap);
  }
}