@mixin wid-hei($wid,$hei) {
  width: $wid;
  height: $hei;
}
@mixin flex($justify,$align,$direction,$wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}
@mixin margin($t-b, $l-r) {
  margin: $t-b $l-r;
}

table{
  width: 100%;

  tr{

    td{
      border: 1px solid;
      width: calc(100%/7);
      height: 50px;
      border-radius: 10px;
      text-align: center;
    }
  }
}